img {
    opacity: 0.8;
}
.input-group-text{
  font-size: 14px;
}
.form-control{
  font-size: 14px;
}
.form-select{
  font-size: 14px;
}
.form {
  width: 45%;
  background: linear-gradient(to top left, #6accec 0%, #ff99cc 100%);
  margin: 0px auto;
  padding: 20px;
  box-shadow: 1px 1px 2px rgba(189, 184, 184, 0.125);
}
.col {
color: red;
}
.form-label{
  font-size: 13px;
}